{% extends 'base.html' %}
{% block title%}
{% endblock %}
{% block content %}
<p class="text-left" style="cursor:pointer; margin:20px; padding:6px; border-radius:8px; font-size:22px; background-color:rgb(154, 155, 199); max-width:800px;">
    Original URL: {{original_url}}
</p>

<p class="text-left" style="cursor:pointer; margin:20px; padding:6px; border-radius:8px; font-size:22px; background-color:rgb(154, 155, 199); max-width:800px;">
    Short URL: {{url_for ('shortener.redirect_to_url', short_url=new_url, _external=True)}}
</p>
    
{% endblock %}